@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
  }

  .dark {
  }
}

@layer base {
  html {
    @apply h-full w-full p-0 m-0;
  }
  body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    @apply bg-yellow-900 flex flex-col justify-between h-screen;
  }
}
